h4 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index:10;
    margin: 0;
    padding: 10px;
    background-color: #ffffff;
}

p {
    width: 200px
}

.location {
    height: 12px;
    position: relative;
    transform: translateY(-30%);
}

/* .filter {
    height: 50px;
    float: right;
    margin: 10px;
    position: relative;
} */

.dropdown {
    margin: 15px;
}

.tableicon {
    height: 13px;
    position: relative;
    transform: translateY(-20%);
}

.btnoptions {
    float: right;
    margin-left: 5px;
    font-size: 10px;
}

.search{
    position: absolute;
    top: 1rem;
    left: 40%;
    transform: translateX(-50%); 
    /* width: 1000px; */
    max-width: 400px;
    z-index: 10;
}

.locate {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
}

.comboboxinput {
    padding-left: 10px;
    padding: 5px
}